@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins",sans-serif;
}
body{
    background-color: black;
}
.header_hero{
    background-color: black;
}
.nav {
    display: flex;
}
nav ul i{
    margin: 20px;
}
nav ul i a{
    font-size: 20px;
    color: #55e6a5;
    transition: 0.6s;
    justify-content: flex-end;
}
nav ul i a:hover{
    color: #fff;  ;
}
.bars{
    display: none;
}
.bars i{
    font-size: 30px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    padding: 100px 8%;
}
.header_info{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;   
    flex-direction: column;
    width: 70%;  
}
h1, p {
    color: #fff;
}
h1{
    font-size: 50px;
}
.header_info p{
    width: 80%;
}
.btns:hover{
    background-color: #fff !important;
    border: 1px solid #fff;
    font-weight: 500;
}
.btns:hover i{
    background-color: #fff;
}
